header {
	background:LightSeaGreen;
	color:white;
	margin: 0;
	
}


body {
	
	margin: 0;
	padding: 0;
	background:lavender;
	font-family:"helvetica";
}

header h1 {
	margin: 0;
	display: inline;
	background:black;
}

nav{
	margin: 0;
	padding:0 0 0 15px;
	display: inline;
	background:CadetBlue;
}




.navbar {
	background:LightSeaGreen;
	position: fixed;
	top: 0;
	width: 100%
	
}

p{
	background:lavender;
	
	padding: 30px 0px 300px 50px;
}

.jumbotron {
	width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 56px 0 0 0;
	padding: 0;
    background-image: url("https://preview.ibb.co/j4859G/castle.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
	
	text-align: center;
	
}

.dropdown-menu {
	margin :  8px 0 0 0;
	background:lavender;
}

.row {
	clear:both;
}

.col {
	float: left;
	border-radius: 5px;
	padding: 10px .5%;
	margin: .5%;
	background:blue;
	width: 31%;
	color:white;
}

footer {
	clear:both;
}

#castle {
	margin:40px;
}

