header {
	background: CadetBlue;
	color:white;
	margin: 0;
	padding: 15px 15px 0 15px;
}



body {
	
	margin: 0;
	padding: 0;
	background:orange;
	font-family:Helvetica;
}

header h1 {
	margin: 0;
	display: inline;
	background:black;
}

nav{
	margin: 0;
	padding:0 0 0 15px;
	display: inline;
	background:black;
}


p{
	background:#333;
	color:white;
	padding: 30px 0px 300px 50px;
}

.jumbotron {
	background: CadetBlue;

}

.darkBG {
	background:red;
}

.darkerBG {
	background:yellow;
}

.darkestBG {
	background:pink;
}




.row {
	clear:both;
}

.col {
	float: left;
	border-radius: 5px;
	padding: 10px .5%;
	margin: .5%;
	background:blue;
	width: 31%;
	color:white;
}

footer {
	clear:both;
}
